{% extends 'base.html.twig' %}

{% block body %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="nav-logo navbar-brand" href="#">
					<img src="{{ asset('WildVillageImages/menu/logo_wildcodeschool.png')}}" alt="logo_wildcodeschool">
				</a>
			</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Inscription</a></li> 
			<li><a href="#">Se Connecter</a></li> 
		</ul>
		</div>
	</nav>
{% endblock %}
