/*=============================*\
		     FOOTER
\*=============================*/
footer.container-footer {
	position: absolute;
	top: 100%;
	width:100%;
	background-color: #F0F0F0;
	border-top: solid #3B3C3D 4px;
}
footer.container-footer div.footer {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 10px;
}
footer.container-footer div.footer .footer-copyright {
	font-weight: bold;
	letter-spacing: 0.1em;
}